.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(248.38deg, #A2A4A9 35.08%, #808288 96.48%);
  box-shadow: -1px -1px 2px rgba(137, 139, 143, 0.2), 1px 1px 2px rgba(137, 139, 143, 0.2), -1px 1px 2px rgba(193, 195, 201, 0.9), 1px -1px 3px rgba(137, 139, 143, 0.9);
}