.learn-more-market-overview-button {
  background: linear-gradient(135deg, #474C55 0%, #7F8389 100%);
  border: 0.674074px solid #797D82;
  box-shadow: -1px 1px 2px rgba(48, 50, 52, 0.2), 1px -1px 2px rgba(48, 50, 52, 0.2), -1px -1px 2px rgba(194, 200, 210, 0.9), 1px 1px 3px rgba(48, 50, 52, 0.9);
  border-radius: 26.963px;
  cursor: pointer;
}