.minifiedSecurityDropdown-wrapper {
  .security-value-wrapper {
    background: conic-gradient(from 0deg at 50% 48.15%, #797D82 0deg, #808288 179.75deg, rgba(221, 221, 221, 0.25) 360deg), #474C55;
    box-shadow: inset -5px -5px 15px rgba(122, 124, 130, 0.4);
    border-radius: 20px;
  }
}