.eta-type-col {
    width: 22%;
}

.eta-remaining-term-col {
    width: 14%;
}

.eta-change-col {
    width: 10%;
}

.eta-growth-multiple-last-col {
    width: 12%;
}

.eta-growth-multiple-offer-col {
    width: 12%;
}

.eta-match-distance-col {
    width: 12%;
}

.eta-value-in-circulation-col {
    width: 12%;
}

.eta-add-col {
    width: 6%;
}

.market-eta-header {
    font-size: 10px;
}