.learn-more-market-header-action {
  border: 1px solid #E5E5E5;
  border-top: 1px solid #b3b4b8;
  box-shadow: inset -3px 3px 6px rgba(139, 140, 144, 0.2), inset 3px -3px 6px rgba(139, 140, 144, 0.2), inset -3px -3px 6px rgba(191, 194, 200, 0.9), inset 3px 3px 8px rgba(139, 140, 144, 0.9);
  border-radius: 20px;
  background: #A5A7AC;
  color: #ffffff;
  cursor: pointer;

  svg {
    width: 18px;
    fill: #ffffff;
  }
}